#menu {
    height: 50px;
    width: 100%;
}
#editor-panel {
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
}
.editor-div {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}
#status-span {
    float: right;
}

span.status-warning {
    background-color: #ffaaaa;
}

span.status-caution {
    background-color: #ffff88;
}

span.status-none {
    display: none;
}